body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;

    background-image: url("backgrounds/background.png");
    background-size: cover;          /* Bild füllt den Bildschirm */
    background-position: center;    /* Bild bleibt mittig */
}

#city_suggestions
{
    text-align: center;
    width: 300px;
    margin-top: 10px;
}

#weather_info
{
    display: none;
    margin-top: 50px;
    background: rgba(173, 216, 230, 0.4);
    padding: 25px;                  /*innen abstand*/
    border-radius: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#sun_info
{
    display: none;
    justify-content: space-between;
    align-items: center;    /*sorgt dafür das es auf einer linie ausgerichtet ist*/
    width: 450px;
    margin-top: 100px;

    background: rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 15px;
}

.sunrise_icon
{
    transform: translateX(0px);
}

.sunset_icon
{
    transform: translateX(0px);
}

#sunrise_box,
#sunnoon_box,
#sunset_box
{
    text-align: center;
}

.sun_icon
{
    font-size: 40px;
    margin: 10px;
}

#weather_details
{
    display: none;
    margin-top: 100px;
    background: rgba(173, 216, 230, 0.4);
    padding: 25px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/* Anpassungen für kleine Bildschirme (Smartphone) */
@media (max-width: 600px)     /*ab 600 px das nehmen */
{
    #search_bar
    {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #city_name
    {
        width: 90%;
        max-width: 300px;
    }

    #search_button
    {
        width: 90%;
        max-width: 300px;
    }

    #sun_info
    {
        width: 90%;
        margin-top: 30px;
        background: rgba(255,255,255,0.5);
        padding: 10px;
        border-radius: 15px;
    }

        #sun_info
    {
        width: 95%;
        padding: 5px;
    }

    #sunrise_box,
    #sunnoon_box,
    #sunset_box
    {
        font-size: 12px;
    }

    .sun_icon
    {
        font-size: 25px;
        margin: 5px;
    }

    #weather_info
    {
        margin-top: 50px;
        width: 90%;
        max-width: 300px;
    }

    #weather_details
    {
        margin-top: 50px;
        width: 90%;
        max-width: 300px;
    }

    body
    {
        background-size: cover;
    }
}